block variables
include ../blocks/button
include ../blocks/card
include ../blocks/mainSlider

doctype html

html(lang='en')

    include ../blocks/head

    body

        block main
        block scripts