block variables

doctype html

html(lang='en')

    include ../blocks/head

    body

        include ../blocks/healthcare/header

        main.content
            block main

        include ../blocks/healthcare/footer
        
        block scripts