.reviews {
  background-color: #fbfdfc;
  padding: 26px 0;

  &__header {
    margin-bottom: 10px;
    padding-left: 74px;
    line-height: 49px;
    letter-spacing: 0.02em;
    color: #3d3d3f;
    text-align: center;
  }

  &__slider {
    .slick-slide {
      position: relative;
      width: 370px;
    }

    .slick-prev {
      position: absolute;
      top: 253px;
      left: -80px;
      width: 33px;
      height: 33px;
      border-radius: 5px;
      background: url('./../images/icons/chevron-left.svg') 8px 6px / 13px no-repeat;
      background-color: #daeef7;

      &:hover {
        background: url('./../images/icons/chevron-left-w.svg') 8px 6px / 13px no-repeat;
        background-color: $blue;
      }
    }

    .slick-next {
      position: absolute;
      top: 253px;
      right: -90px;
      width: 33px;
      height: 33px;
      border-radius: 5px;
      background: url('./../images/icons/chevron-right.svg') 10px 6px / 13px no-repeat;
      background-color: #daeef7;

      &:hover {
        background: url('./../images/icons/chevron-right-w.svg') 10px 6px / 13px no-repeat;
        background-color: $blue;
      }
    }

    .slick-prev,
    .slick-next {
      &::before {
        content: '';
      }
    }
  }

  &__item {
    position: relative;
    width: 370px;
    height: 347px;
    padding: 23px 19px 0 48px;
    margin: 82px 32px 24px 0;
    background-color: #fcfcfc;
    box-shadow: 0 4px 22px rgba(0, 0, 0, 0.05);
    border-radius: 10px;

    .fa-quote-right {
      position: absolute;
      top: 3px;
      left: 303px;
      font-size: 13px;
      color: #fff;
    }

    &::after {
      content: '\2605 \2605 \2605 \2605 \2605';
      position: absolute;
      top: 95px;
      left: 260px;
      font-size: 15px;
      color: #ff9000;
    }

    &::before {
      content: '';
      position: absolute;
      top: -11px;
      left: 291px;
      width: 37px;
      height: 37px;
      border-radius: 50%;
      background-color: #6eceff;
    }
  }

  &__quote {
    position: absolute;
    top: 2px;
    left: 303px;
    width: 14px;
    height: 14px;
  }

  &__img {
    display: block;
    margin-left: 107px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  &__author {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 38px;
    color: #3d3d3f;
  }

  &__location {
    margin-bottom: 17px;
    font-family: 'Ubuntu', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #47c2ff;
  }

  &__text {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #454d5d;
  }
}
