footer.footer
    .container
        .footer__wrapper
            .logo-block
                .logo-block__logo
                    span HEALTCARE
                    .dot
                .logo-block__contact
                    p Metairie, 3689  Bassel Street, LA, Louisiana
                    p Contact us: 225-788-5489
                .logo-block__social
                    a.logo-block__link(href='#' target="_blank")
                        svg.logo-block__icon-fb
                            use(xlink:href='./images/icons/sprite.svg#facebook')
                    a.logo-block__link(href='#' target="_blank")
                        svg.logo-block__icon-in
                            use(xlink:href='./images/icons/sprite.svg#instagram')
                    a.logo-block__link(href='#' target="_blank")
                        svg.logo-block__icon-tw
                            use(xlink:href='./images/icons/sprite.svg#twitter')
                    a.logo-block__link(href='#' target="_blank")
                        svg.logo-block__icon-yt
                            use(xlink:href='./images/icons/sprite.svg#youtube')
            .lists-block
                .lists
                    h3.lists__header Category
                    ul.lists__list
                        li.lists__item
                            a.lists__link(href='#' target="_blank") Home
                        li.lists__item
                            a.lists__link(href='#' target="_blank") About
                        li.lists__item
                            a.lists__link(href='#' target="_blank") Services
                        li.lists__item
                            a.lists__link(href='#' target="_blank") Reviews
                        li.lists__item
                            a.lists__link(href='#' target="_blank") Article
                .lists
                    h3.lists__header About
                    ul.lists__list
                        li.lists__item
                            a.lists__link(href='#' target="_blank") Partners
                        li.lists__item
                            a.lists__link(href='#' target="_blank") Careers
                        li.lists__item
                            a.lists__link(href='#' target="_blank") Press
                        li.lists__item
                            a.lists__link(href='#' target="_blank") Community
            .subscribe-block
                form.subscribe-block__form(action='#')
                    h3.subscribe-block__header Subscribe newsletter
                    .subscribe-block__text Sign up for tips, new destinations, and exclusive promos.
                    input.subscribe-block__input(placeholder='Enter your email')
                    button.subscribe-block__btn(type='submit') Subcribe
    .subfooter
        .container
            .subfooter__wrapper
                .subfooter__copyright &copy; 2021 Healthcare - All rights reserved.
                .subfooter__info 
                    ul.subfooter__list
                        li.subfooter__item 
                            a.subfooter__link(href='#' target="_blank") Privacy
                        li.subfooter__item 
                            a.subfooter__link(href='#' target="_blank") Security
                        li.subfooter__item 
                            a.subfooter__link(href='#' target="_blank") Terms