header.header
    .container
        .header__wrapper    
            .header__logo
                span HEALTCARE
                .dot
            nav.menu
                ul.menu__list
                    li.menu__item
                        a(href='#' class='menu__link' target="_blank") Home
                    li.menu__item
                        a(href='#' class='menu__link' target="_blank") About
                    li.menu__item
                        a(href='#' class='menu__link' target="_blank") Article
                    li.menu__item
                        a(href='#' class='menu__link' target="_blank") Services
            .btn-block
                button.btn-block__btn(type='button') Get Started